@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

.oneday {
    width: 75px;
    display: inline-block;
    //height: 200px;
    margin-left: 0;
    margin-right: 0;
    flex: none;
}
.oneday div {
    height: 30px;
}

#wt-table {
    display: flex;
    overflow: auto;
}

body {
    font-family: sans-serif, 'Noto Sans TC';
}
